*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(90deg, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 35%, rgba(44,83,100,1) 100%);
    position: relative;
    min-height: 100vh;
    padding-bottom: 72px;
}

.header{
    background: linear-gradient(90deg, rgba(243,144,79,1) 0%, rgba(59,67,113,1) 35%);
    overflow: auto;
}

.menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.menu__list{
    padding: 0 0.5rem;
    margin: 1rem 0;
}

.to-left{
    margin-right: auto;
}

.menu__link{
    padding: 0 0.5rem;
    text-decoration: none;
    color: white;
}

.logo{
    width: 40px;
    display: block;
}

.gallery{
    margin: 1rem;
    columns: 5 200px;
    column-gap: 0.5em;
}

.gallery-img{
    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
    outline: 2px solid #fff;
    outline-offset: -10px;
}

.footer{
    background: linear-gradient(90deg, rgba(29,67,80,1) 0%, rgba(164,57,49,1) 35%);
    padding: 1rem 0;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}